@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0b0d41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.shadow {
  filter: drop-shadow(10px 10px 200px #008cff) drop-shadow(-10px -10px 50px #ff00ff);
}

.triangle-wrapper {
  position: absolute;
  margin-top: 50px;
  top: 100px;
  left: -150px;
  width: 20vw;
  filter: blur(100%);
  height: calc(20vw / (1/1));
  background-color: #8a49f3b6;
  filter: blur(115px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.triangle {
  background-color: hsl(210, 50%, 14%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  margin-top: 10px;
  filter: blur(115px) drop-shadow(-10px 10px 75px #f8cef8);
}

.shadowBackground{
  position: absolute;
  margin-top: 50px;
  top: 10vh;
  width: 30vw;
  filter: blur(100%);
  border-radius: 100%;
  height: 15vh;
  background-color: #7a5daab6;
  filter: blur(115px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.shadowDiv{
  background-color: hsl(210, 68%, 61%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  margin-top: 10px;
  filter: blur(115px) drop-shadow(-10px 10px 75px #f8cef8);
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #1d8cc4;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.accordion{
  animation-name: accordion;
  animation-duration: 1s;
  transition: all ease 1s;
}

@keyframes accordion {
  0%{
    scale: 0;
    opacity: 0;
  }
  100%{
    scale: 1;
    opacity: 1;
  }
}